<div class="left-container">
    <div class="left-container__top-section">
        <div class="top-section__blue"></div>
        <div class="top-section__small-buttons">
            <div class="top-section__red"></div>
            <div class="top-section__yellow"></div>
            <div class="top-section__green"></div>
        </div>
    </div>
    <div class="left-container__main-section-container">
        <div class="left-container__main-section">
            <div class="main-section__white">
                <div class="main-section__black">
                    <div class="main-screen">
                        {{> menu}}
                    </div>
                </div>
            </div>
            <div class="left-container__controllers">
                <div class="controllers__d-pad">
                    <div class="d-pad__cell top"></div>
                    <div class="d-pad__cell left"></div>
                    <div class="d-pad__cell middle"></div>
                    <div class="d-pad__cell right"></div>
                    <div class="d-pad__cell bottom"></div>
                </div>
                <div class="controllers__buttons">
                    <div class="buttons__button">B</div>
                    <div class="buttons__button">A</div>
                </div>
            </div>
        </div>
        <div class="left-container__right">
            <div class="left-container__hinge"></div>
            <div class="left-container__hinge"></div>
        </div>
    </div>
</div>