<div class="right-container">
    <div class="right-container__black">
        <div class="right-container__screen">
        </div>
    </div>
    <div class="right-container__buttons">
        <div class="reset-button">Release All Your Pokemon</div>
    </div>
</div>