<div class="right-container">
    <div class="right-container__black">
        <div class="right-container__screen">
            {{#each pokemon as |pokemon|}}
            <div class="list-item">{{name}}</div>
            {{/each}}
        </div>
    </div>
    <div class="right-container__buttons">
        <div class="left-button">Prev</div>
        <div class="right-button">Next</div>
    </div>
</div>