/* Main page background */
body {
    background-image: url('./images/Background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Ash & Pikachu Gif */

.container {
    display: flex;
    justify-content: center;
}

.maingif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
}