<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/pokedex.css">
    <link rel="stylesheet" href="/css/login-page.css">
    <script defer src="/js/login.js"></script>
    <title>Pokedex</title>
</head>

<body>
    {{{ body }}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/pokedex.js"></script>
</body>
    
</html>