<!-- Ash and Pikachu Gif -->
    <div class="btn-bg Pokemon">
      <img src="/images/AshPikachu.gif" class="maingif" />

      <!-- Challenge Button -->
      <div class="btn-group">
        <div class="btn ball">
          <button>
            <div class="pokemon-ball"></div>
            <a href="/login">Challenge<span data-letters="GO!"></span
              ><span data-letters="GO!"></span
            ></a>
          </button>
        </div>
      </div>
    </div>