<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up/Login Form</title>
    <link rel="stylesheet" href="../public/css/signup-login.css">

</head>
<body>

  <div class="container">
    <!--Data or Content-->
    <div class="box-1">
        <div class="content-holder">
    <header>
      <div class= "large-font">Guess That Pokemon!</div>
      <button class="start-button">Start</button>
    </header>

    <main>
      <section>
        <div class="card word-guess">
          <div class="large-font word-blanks">J _ v _ S c r_ _t</div>
        </div>
      </section>

      <section>
        <div class="card results">
          <div class = "win-loss-container">
          <div>
          <h2>Wins: <span class="win">0 </span> </h2>
          <h2>Losses: <span class="lose">0</span></h2>
        </div>
          <button class="reset-button">Reset Score</button>
      </div>
          <div class= "card timer">
            <div class = "timer-text">
            <div class="large-font timer-count">10</div>
            <h3>seconds remaining</h3>
          </div>
        
          </div>
        </div>
      </section>
    </main>


    <script src="../public/js/game.js"></script>
  </body>
</html>
