<p><a href="/game">Guess That Pokemon</a></p>
<p><a href="/pokedex">View My Pokemon</a></p>
<p><a href="/scores">View High Scores</a></p>
<p><a href="/update">Update Password</a></p>
<p><a href="#" id="logout">Log Out</a></p>
<script defer src="/js/logout.js"></script>