<p><a href="#">Guess That Pokemon</a></p>
<p><a href="#">View My Pokemon</a></p>
<p><a href="#">View High Scores</a></p>
<p><a href="#" id="logout">Log Out</a></p>
<script defer src="/js/logout.js"></script>