<div class="menuContainer">
    <p><a href="/game" class="menu-button">Guess That Pokemon</a></p>
    <p><a href="/pokedex" class="menu-button">View My Pokemon</a></p>
    <p><a href="/chatbox" class="menu-button">Chat With other Players</a></p>
    <p><a href="/update" class="menu-button">Update Password</a></p>
    <p><a href="#" id="logout" class="menu-button">Log Out</a></p>
</div>
<script defer src="/js/logout.js"></script>

<!--
<div class="container">
    <div class="topnav">
        <a href="/game">Play Game</a>
        <a href="/pokedex">Pokedex</a>
        <a href="#" id="logout">Logout</a>
    </div>
</div>
<script defer src="/js/logout.js"></script>
-->