<p><a href="/game">Guess That Pokemon</a></p>
<p><a href="/pokedex">View My Pokemon</a></p>
<p><a href="/scores">View High Scores</a></p>
<p><a href="#" id="logout">Log Out</a></p>
<script defer src="/js/logout.js"></script>

<!--
<div class="container">
    <div class="topnav">
        <a href="/game">Play Game</a>
        <a href="/pokedex">Pokedex</a>
        <a href="#" id="logout">Logout</a>
    </div>
</div>
<script defer src="/js/logout.js"></script>
-->