<div id="chatbox-header">
    <p>Chat with other users playing the game now</p>
    <p><a href="/menu">Return to Menu</a></p>
</div>



<div class="chatbox">
<ul id="messages"></ul>
<form id="form" action="">
    <input id="input" autocomplete="off" placeholder=""/><button>Send</button>
    {{renderUser.name}}
</form>
</div>