<div class="loginBackground">
  <div class="container">
    <!--Data or Content-->
    <div class="box-1">
        <div class="content-holder">
            <img src="../images/Oak.png" class="oak" />
            <p>My name is Oak! This world is inhabited by creatures called Pokémon!  </p>
      </div>
    </div>

    <!--Forms-->
    <div class="box-2">
        <form id="updatePW-form" class="login-form-container">
            <h1>Welcome back Trainer!</h1>
            <input type="text" name="username" placeholder="Username" class="input-field">
            <br><br>
            <input type="password" name="oldPw" placeholder="Old Password" class="input-field">
            <br><br>
            <input type="password" name="newPw" placeholder="New Password" class="input-field">
            <br><br>
            <button class="update-button" type="button" id="updatePw-submit">Change Password</button>
        </form>

  </div>
</div>